body {
    background-color: #4F3244;
    color: #ffffff;
}

h1,
h2,
a,
a.g-link--cta,
.g-production-preview__article:hover p {
    color: #ffffff;
}

.g-logo__image {
    display: none;
}
.g-logo__image--alt {
    display: inline-block;
}