body {
    background-color: #DDDE41;
    color: #ffffff;
} 

h1,
h2,
a,
.g-production-preview__article:hover p {
    color: #4F3244;
}

.g-logo__image {
    display: none;
}
.g-logo__image--alt {
    display: inline-block;
}