body {
    background-color: #DDDE41;
    color: #4F3244;
}

h1, 
p,
.g-production-preview__article:hover p,
.g-production__meta-duration  {
    color: #4F3244;
}
.g-lang-change__item {
    background: #DDDE41;
}

h2, h2.h1,
h3,
a,
p.g-production-subtitle{
    color: #EA5060;
}

a:hover {
    color: #4F3244;
}

.g-production-preview__list-item {
    border-color: #EA5060;
}

.g-production__meta-age {
    background-color: #EA5060;
    color: #4F3244;
}
.g-nav {
    background-color: #DDDE41;
}
.g-nav ul.sub-menu {
    background-color: #DDDE41;
    /* background-image: url(../img/svg/Menu_G.svg); */
}

footer {
    background-color: #4F3244;
    color: #EA5060;
}
footer a, footer a:hover {
    color: #EA5060;
}