body {
    background-color: #EA5060;
    color: #4F3244;
}

h1, 
p,
.g-production__meta-duration,
.g-production-preview__article:hover p {
    color: #4F3244;
}

h2, h2.h1,
h3,
a,
p.g-production-subtitle {
    color: #ffffff;
}

a:hover {
    color: #DDDE41;
}

.g-production-preview__list-item {
    border-color: #ffffff;
}

.g-production-preview__article:hover h2,
.g-production-preview__article p {
    color: #4F3244;
}

a.g-link--cta,
.g-lang-change__item {
    border-color: #4F3244;
}
.g-lang-change__item:hover,
.g-lang-change__item--active {
    background-color: #4F3244;
}

.g-production__meta-age {
    color: #ffffff !important;
}

.g-nav ul.sub-menu {
    background-color: #EA5060;
    /* background-image: url(../img/svg/Menu_R.svg); */
}

footer {
    background-color: #EA5060;
    color: #4F3244;
}
footer a, footer a:hover {
    color: #4F3244;
}