body {
    background-color: #4F3244;
    color: #DDDE41;
}

h1, 
p,
p.g-production-subtitle,
.g-production-preview__article:hover p {
    color: #DDDE41;
}

.g-production-preview__list-item {
    border-color: #DDDE41;
}

h2, h2.h1,
h3,
a,
.g-production__meta-age,
.g-production__meta-duration {
    color: #ffffff;
}
.g-production__category {
    background-color: #DDDE41;
    color: #fff;
}
.g-lang-change__item {
    background: #4F3244;
}

a:hover {
    color: #EA5060;
}
a.g-espace-downloads-file,
a.g-espace-preview {
    background-color: #DDDE41;
    color: #4F3244;
}

.g-nav {
    background-color: #4F3244;
}
.g-nav ul.sub-menu {
    background-color: #4F3244;
    /* background-image: url(../img/svg/Menu_V.svg); */
}
.g-btn__mobile-nav span,
footer {
    background-color: #ffffff;
    color: #EA5060;
}
footer a, footer a:hover {
    color: #EA5060;
}
