body {
    background-color: #4F3244;
    color: #DDDE41;
}

h1, 
p,
p.g-production-subtitle,
.g-production-preview__article:hover p {
    color: #DDDE41;
}

.g-production-preview__list-item {
    border-color: #DDDE41;
}

h2,
h3,
a,
.g-production__meta-duration {
    color: #ffffff;
}

.g-nav ul.sub-menu {
    background-image: url(../img/svg/Menu_V.svg);
}